@using TMEDashboard.Models
@{
    ViewBag.Title = "Index";
    List<BarangModel> barang = ViewBag.barang;

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Master Barang<small> </small></h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <br />


        <div>

            <div class="clearfix"></div>




            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="task" role="tabpanel" aria-labelledby="task-tab">
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" href='#modal-add-barang'>Add New Barang</button>
                    </div>
                    <div class="clearfix"></div>
                    <table id="datatable-custom-muslim" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>

                                <th width="10">No</th>
                                <th width="70">Nama Barang</th>

                                <th width="10">Action</th>
                            </tr>
                        </thead>


                        <tbody>
                            @{ int i = 1; }
                            @foreach (var item in barang)
                            {

                            <tr>

                                <td class="text-md-center">@i</td>
                                <td class="text-md-center">@item.nama_barang</td>


                                <td class="text-center">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-sm btn-warning btn-update-barang" type="button" data-toggle="modal" href='#modal-update-barang'
                                                data-barang-id="@item.id" data-barang-nama="@item.nama_barang">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger btn-delete-barang" type="button" data-toggle="modal" href='#modal-delete-barang'
                                                data-barang-id="@item.id" data-barang-nama="@item.nama_barang">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                                { i = i + 1; }

                            }
                        </tbody>
                    </table>


                </div>

            </div>




            <div class="clearfix"></div>
            <br />



        </div>


    </div>


</div>

<div class="modal fade" id="modal-add-barang">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="demo-form2" action="~/barang/barang_insert" method="post" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Barang</h4>
                    <div class="clearfix"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <br />
                </div>
                <div class="modal-body">
                 
                        <div class="item form-group">
                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Nama Barang</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" id="insert-nama-barang" name="nama_barang" placeholder=" Please Input Nama Barang">
                               
                            </div>
                        </div>
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update-barang">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="demo-form2" action="~/barang/barang_update" method="post" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-header">
                    <h4 class="modal-title">Update Barang</h4>
                    <div class="clearfix"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <br />
                </div>
                <div class="modal-body">

                    <div class="item form-group">
                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Nama Barang</label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" hidden class="form-control" id="update-id-barang" name="update_id_barang">
                            <input type="text" class="form-control" id="update-nama-barang" name="update_nama_barang">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-barang">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="demo-form2" action="~/barang/barang_delete" method="post" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Barang</h4>
                    <div class="clearfix"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <br />
                </div>
                <div class="modal-body">

                    <div class="item form-group">
                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Nama Barang</label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" hidden class="form-control" id="delete-id-barang" name="delete_id_barang">
                            <input type="text" class="form-control" id="delete-nama-barang" name="delete_nama_barang" readonly>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


